!-- 自分がわかりやすくするためにスタイル指定しましたが気にしないで変更したり削除してください -->
<section>

	<h3>退会する前に必ずお読みください</h3>

	<p>
		「Roland」から退会すると、商品購入をはじめ、リクエストなどすべてのサービスがご利用いただけなくなります。<br>
			それでもよろしい方のみ『退会ボタン』を押してください。<br>

			また、再び会員になる場合は新たに新規登録からお進みください。
	</p>


	<%= link_to "退会する", user_registration_path, method: :delete %>
	<%= link_to "戻る" %>


</section>