<!-- 自分がわかりやすくするためにスタイル指定しましたが気にしないで変更したり削除してください -->
<div>
	<table>
		<tr>
			<td style="width: 70px;">
				<img src="assets/re-hiyoko.png" style="width: 50px; border-radius: 50%;">
			</td>
			<td rowspan="2" style="width: 400px; background-color: orange; border-radius: 10px;">
				<p>これを見たあなたは焼肉が食べたくなる</p>
			</td>
		</tr>
		<tr>
			<td>ねぎま</td>
		</tr>
	</table>

</div>
<div>

	<table>
		<tr>
			<td rowspan="2" style="width: 400px; background-color: green; border-radius: 10px;">
				<p>鬼怒川のあさやは最高なのでまた行きたいです</p>
			</td>
			<td style="width: 70px;">
				<img src="assets/re-hiyoko.png" style="width: 50px; border-radius: 50%;">
			</td>
		</tr>
		<tr>
			<td>ぼんじり</td>
		</tr>
	</table>

</div>

<div>

	<table>
		<tr>
			<!-- ↓form_for -->
			<%=  %>
				<td>
					<textarea rows="3" cols="80" placeholder="コメントを入力"></textarea>
				</td>
				<td>
					<button type='submit'>送信</button>
				</td>
			<% %>
			<!-- ↑end -->
		</tr>
	</table>

	<%= link_to "戻る" %>

</div>